@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Poppins&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: #f9fafb;
}
.app-container {
  text-align: center;
}

.container-fullwidth{
  padding: 0 10%;
}
@media only screen and (max-width: 600px) {
  .app-container {
    margin: 0;
  }
  .container-fullwidth{
    padding: 0 1rem;
  }
}


@media screen and (min-width: 1400px) {
  .app-container {
    margin: 0 auto;
  }
  .container-fullwidth{
    padding: 0 calc((100vw - 1152px)/2);

  }
}
@media screen and (min-width: 1600px) {
  .app-container {
    margin: 0 auto;
  }
  .container-fullwidth{
    padding: 0 calc((100vw - 1440px)/2);
  }
}
